* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'SFProDisplay',sans-serif;
}
form input {
    border: 2px solid #0071E3;
    border-radius: 12px;
    padding: 10px 20px;
}



form, h1 {
    margin: 20px 0px;
}

form button {
    all: unset;
    background-color: #0071E3;
    border-radius: 12px;
    padding: 10px 20px;
    color: white;
    text-transform: capitalize;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 70%;
    margin: 0 auto;
    padding: 20px 0px;
}

.item {
    border: 1px solid #0071E3;
    border-radius: 12px;
    background-color: #F0F0F0;
    padding: 20px;
}

.item .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.item .top span {
    font-size: 24px;
    font-weight: 800;
}

.done {
    text-decoration: line-through 4px red;
}

.modal {
    opacity: 0;
    width: 500px;
    background-color: white;
    padding: 20px;
    border-radius: 12px;

    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    display: none;
    transition: 400ms;
}

.modal_bg {
    opacity: 0;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, .5);
    backdrop-filter: blur(7px);
    display: none;
    transition:400ms;
}

.modal .inputGroup {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}

.modal .inputGroup button, .cancel {
    all: unset;
    background-color: #0071E3;
    border-radius: 12px;
    padding: 10px 20px;
    color: white;
    text-transform: capitalize;
    cursor: pointer;
}

.cancel {
    background-color: red;
}

.modal .inputGroup input {
    border: 2px solid #0071E3;
    border-radius: 12px;
    padding: 10px 20px;
}
.img2{
    margin-right: 10px;
    
}